/*Page forum */
/*header*/
.node-header-wrapper {
  float: left;
  width: 100%;
}

.node-header-wrapper  span,
.filter-content-list li span{
  height: 30px;
  width: 30px;
}
.node-header-wrapper  span{float: left;}
.filter-content-list li span{float: right;}

.node-header-wrapper h3.title {
  float: left;
  width: auto;
}
.node-header-wrapper-images span,
.node-header-wrapper-images h3.title{margin: 10px;margin-left: 0;}

.node-header-wrapper-non-images span {
  margin-right: 10px;
}

.node-header-wrapper  span.type-track { background: url('../images/images_forum/icon_tracks.png'); }
.node-header-wrapper  span.type-bike { background: url('../images/images_forum/icon_bikes.png'); }
.node-header-wrapper  span.type-event { background: url('../images/images_forum/icon_events.png'); }
.node-header-wrapper  span.type-forum_topic { background: url('../images/images_forum/icon_forum.png'); }
.node-header-wrapper  span.type-photos { background: url('../images/images_forum/icon_photos.png'); }
.node-header-wrapper  span.type-embedded_video { background: url('../images/images_forum/icon_videos.png'); }
.node-header-wrapper  span.type-group { background: url('../images/images_forum/icon_group.jpg'); }


.filter-content-list  span.type-track { background: url('../images/images_forum/icon_tracks.png'); }
.filter-content-list  span.type-bike { background: url('../images/images_forum/icon_bikes.png'); }
.filter-content-list  span.type-event { background: url('../images/images_forum/icon_events.png'); }
.filter-content-list  span.type-forum_topic { background: url('../images/images_forum/icon_forum.png'); }
.filter-content-list  span.type-photos { background: url('../images/images_forum/icon_photos.png'); }
.filter-content-list  span.type-embedded_video { background: url('../images/images_forum/icon_videos.png'); }
.filter-content-list  span.type-group { background: url('../images/images_forum/icon_group.jpg'); }

/*For disble style*/
.filter-content-list  a.disable span.type-track { background: url('../images/images_forum/icon_tracks_gray.png'); }
.filter-content-list  a.disable span.type-bike { background: url('../images/images_forum/icon_bikes_gray.png'); }
.filter-content-list  a.disable span.type-event { background: url('../images/images_forum/icon_events_gray.png'); }
.filter-content-list  a.disable span.type-forum_topic { background: url('../images/images_forum/icon_forum_gray.png'); }
.filter-content-list  a.disable span.type-photos { background: url('../images/images_forum/icon_photos_gray.png'); }
.filter-content-list  a.disable span.type-embedded_video { background: url('../images/images_forum/icon_videos_gray.png'); }
.filter-content-list  a.disable span.type-group { background: url('../images/images_forum/icon_group_gray.jpg'); }



.node-header-wrapper .image-thumbnail{
  float: left;
  border: 1px solid yellow;
}



/*content*/


.item-list {
  padding-bottom: 35px;
  float: left;
  width: 100%
}
.item-list ul.comments {float: left;width: 100%;}

.item-list ul.comments, 
ul.filter-content-list, 
ul.filter-content-list li, 
.item-list ul.comments li {margin: 0; list-style: none;}

.item-list ul.comments li,
.filter-content-list li,
ul.comments .views-field-comment,
ul.comments .views-field-timestamp
{
  float: left;
  width: 100%;
}

ul.comments .views-field-timestamp .field-content{
  float: right;
  width: 100%;
  text-align: right;
  font-style: italic;
}

ul.comments .views-field-timestamp .field-content span.author,
ul.comments .views-field-timestamp .field-content span.author a{color:#936659;}


.filter-content-list li .link-left {float: left;width: auto}

ul.filter-content-list li {padding: 0 20px 0 20px; margin-bottom: 5px;}

.block-vc_config h2.title {font-size: 16px;float: left; margin-bottom: 20px;}

#views-exposed-form-comments-recent-page .views-exposed-form .views-exposed-widget {padding: .5em 0 0 0;}

#topBar {margin-top: 5px;}



/*#topBar .region-topBar {width: 911px; overflow: hidden;}*/

/*#topBar .block-views .content {width: 450px;float:left;height: 100px;padding-top: 5px;}*/
#topBar .block-views .views-view{}
/*#topBar .block-views .views_view {float: left;width:100%;}*/
/*background: #d7d6d1;}*/
#topBar .block-views .view-header {
  position: absolute;
  top:0;
  left: 0;
  /*width: 31px;*/
  width: 7%;
  /*padding-top: 38.5px;*/
  border: 1px solid #9b9a98;
  border-right: none;
  /*margin-top: 1px;*/
/*  padding-bottom: 10px;*/
  z-index: 20;
  position: relative;
  overflow: hidden;
  height:67px;
}

#topBar .block-views .views_view .view-content {
  width: 92.9%;
  position: absolute;
  top:0;
  left:7%;
  height: 80px;
}

#topBar .block-views .view-footer {
  /*margin-top: 1px;*/
  z-index: 20;
  position: absolute;
  top:0;
  right: 0;
  padding-top: 66.5px;
  width: 0.1%;
  border-right: 1px solid #9b9a98;
}

#topBar .block-views .view-footer {
   background: #2a6da9;
    background: -moz-linear-gradient(top, #55aaee, #003366);
    background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
}


.jspPane {
  border-right: 1px solid #9b9a98;
}
#topBar .block-views .view-header span.icon {
  background: url('../images/images_forum/view_button.jpg');
 /* float: left;*/
  height: 57px;
  width: 9px;
  margin-top: 2px;
  position:absolute;
  top:3px;
  right:2px;
  
}
#topBar .block-views .views_view .view-content table{
  background: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  border: none;
}

#topBar .block-views .views_view .view-content tbody {
  border-top: 1px solid #9B9A98;
  border-bottom: 1px solid #9B9A98;
}

/*#topBar .block-views .views_view .view-content{float: left;width: 415px;margin-left: -1px;}

/*#topBar .block-views .views_view .view-content tbody { overflow: scroll; float: left;width: 415px;height: 80px;}*/
/*#topBar .block-views .views_view .view-content tbody {float: left;width: 415px;height: 80px;}*/
/*#topBar .block-views .views_view .view-content tr {float: left;width: 650px;overflow: hidden;background: #d7d6d1;}*/
/*#topBar .block-views .views_view .view-content tr {float: left;min-width: 415px;overflow: hidden;background: #d7d6d1;
border: 1px solid #9b9a98;
border-left: none;
border-right: none;
}*/
#topBar .block-views .views_view .view-content tr td{float: left;width: auto;}

/*#topBar .view-photos.view-display-id-block_1 tbody { overflow: scroll; float: left;width: 420px;height: 80px;}*/
/*#topBar .view-photos.view-display-id-block_1 tr {float: left;min-width: 650px;overflow: hidden;}
#topBar .view-photos.view-display-id-block_1 tr {float: left;min-width: 415px;overflow: hidden;}*/
#topBar .view-photos.view-display-id-block_1 tr td{float: left;width: auto;}

#topBar .view-photos.view-display-id-block_1 {position: relative;}


#topBar .block-views .view-header p a{
	color:#8c8c84;
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	white-space:nowrap;
	display:block;
	bottom:0;
/*	width:20px;
	height:20px;*/
	font-size:16px;
	font-weight:normal;
/*  float: left;*/
position: absolute;
margin-top:5px;
top: 0;
left: 4px;
}

#topBar table tbody tr td {
  padding: 1px;
  padding-right: 4px;
}




.openlayers-popup > br {display: none;}
.openlayers-popup .kml-node-url,
/*.openlayers-popup .top-title
{
  float: left;
  width: auto;
}*/

.openlayers-popup .header{padding-left: 20px;}
.openlayers-popup .header a {color: #b08f85;font-weight: bold; border: 1px solid #d6d4cf; padding: 5px;-webkit-border-radius: 23px;-moz-border-radius: 5px;border-radius: 5px;}
.openlayers-popup .header span{color: #5eb55e; text-transform: uppercase;}

.openlayers-popup .container span {
/*  float: left;*/
  width: 100%;
  /*padding: 5px;*/
  padding-left:0;
  /*padding-bottom: 5px;*/
}

.openlayers-popup .container {
  color: black;
  font-size: 12px;
  padding-top: 5px;
}

.openlayers-popup .container .track-type div.field-item{padding-left: 30px;padding-top: 5px;}

.openlayers-popup .container span.text,
.openlayers-popup .container span.text div{
  color: #6382a0;
  font-size: 16px;
  padding: 0;
}

.openlayers-popup .container span.bike,
.openlayers-popup .container span.track-type {
  float: left;
}

.openlayers-popup .container span.difficulty ,
.openlayers-popup .container span.category 
{
  float: left;
  text-align: right;
}
.openlayers-popup .container div,
.openlayers-popup .container div
{
  float: left;
  padding-right: 5px;
}

.openlayers-popup .container span.category span {
  width: auto;
  padding: 0;
  padding-right: 2px;
  /*padding-top: 4px;*/
}
.openlayers-popup .container span.category .text {padding-top:0;}
.openlayers-popup .container > span {padding-top: 10px;}

/*#popup_contentDiv {*/
  /*min-height: 300px;*/
/*}*/
.openlayers-popup-description {
/*  min-height: 160px;
  min-width: 310px;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
    
}
.popup-point .openlayers-popup-description {
  min-height: none;
  min-width: none;
}


/*.openlayers-popup .container span{padding: 5px 0 5px 0;}*/

.jspContainer {
  background: #2a6da9;
  background: -moz-linear-gradient(top, #55aaee, #003366);
  background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
}

.gradient.active {
  position: absolute;
  top: 0;
  right:0;
  background: gray;
  z-index: 10;
  width: 20px;
  height: 67px;
  /*opacity: 0.4;*/
  /*background: -webkit-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);*/
}


.gradient.active {
  background: -moz-linear-gradient(90deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(90deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




-webkit-box-shadow: -7px 0px 30px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -7px 0px 30px rgba(50, 50, 50, 0.75);
box-shadow:         -7px 0px 30px rgba(50, 50, 50, 0.75);

}

/*sidebar */
#sidebar-first .view-id-photos.view-display-id-block_3 table,
#sidebar-first .view-id-photos.view-display-id-block_3 table tr,
#sidebar-first .view-id-videos.view-display-id-block_1 table,
#sidebar-first .view-id-videos.view-display-id-block_1 table tr
{
  background: none;
}

#sidebar-first .view-id-videos.view-display-id-block_1 img,
#sidebar-first .view-id-photos.view-display-id-block_3 img {
  border: 2px solid black;
}
